@model project_kshetham.Models.CounterVM

@{
    ViewData["Title"] = "editcounter";
}

<h1>editcounter</h1>

<h4>CounterVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="editcounter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="counter_code" class="control-label"></label>
                <input asp-for="counter_code" class="form-control" />
                <span asp-validation-for="counter_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="counters" class="control-label"></label>
                <input asp-for="counters" class="form-control" />
                <span asp-validation-for="counters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListCounters">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
