@model project_kshetham.Models.NakshathramVM

@{
    ViewData["Title"] = "editnakshathram";
}

<h1>editnakshathram</h1>

<h4>NakshathramVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="editnakshathram">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nakshathram_name" class="control-label"></label>
                <input asp-for="nakshathram_name" class="form-control" />
                <span asp-validation-for="nakshathram_name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="nakshathram_code" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  asp-action="ListNakshathram">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
